@mixin box-shadow-inset($y-offset, $x-offset, $blur, $spread, $color) {
	   -moz-box-shadow: inset $y-offset $x-offset $blur $spread $color;
	-webkit-box-shadow: inset $y-offset $x-offset $blur $spread $color;
	        box-shadow: inset $y-offset $x-offset $blur $spread $color;
}
@mixin box-shadow($y-offset, $x-offset, $blur, $spread, $color) {
	   -moz-box-shadow: $y-offset $x-offset $blur $spread $color;
	-webkit-box-shadow: $y-offset $x-offset $blur $spread $color;
	        box-shadow: $y-offset $x-offset $blur $spread $color;
}