/*	CSS RESET
	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
  	License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box; /* Safari 3.0-5.0, Chrome 1-9, Android 2.1-3.x */
	-moz-box-sizing: border-box;    /* Firefox 1-28 */
	box-sizing: border-box;         /* Safar 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF CSS RESET */
	


.container {
	max-width: 75rem;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
}
button:focus {
	outline: 0;
}
.menu_bar {
	width: 100%;
	height: 3.75rem;
	position: fixed;
	border-bottom: 2px solid #BEB6B1;
	background-color: #F1E7E1;
	color: #716D6A;
}
	.brand_name {
		display: inline-block;
		margin-top: 0.75rem;
		font-size: 3.25rem;
		font-weight: 100;
		color: #BEB6B1;
		border: 1px solid red;
	}
	.menu_bar a {
		text-decoration: none;
		color: inherit;
	}
	.brand_name span {
		color: #716D6A;
		font-weight: 300;
	}
	.menu_bar ul {
		float: right;
		font-size: 1.2rem;
		border: 1px solid red;
	}
	.menu_bar li {
		display: inline-block;
		padding-top: 2.25rem;
		margin-left: 1.75rem;
		color: #B3B6B1;
		transition: color 0.5s ease;
		transition: border-top 0.5s ease;
	}
	.menu_bar li:hover {
		border-top: 5px solid #F3BB9A;
		color: #F3BB9A;
		cursor: pointer;
	}
	.menu_bar .container .active {
		border-top: 5px solid #715748;
		color: #715748;
	}
.billboard {
	padding-top: 3.75rem;
	/*Why padding instead of margin?*/
	height: 56.25rem;
	text-align: center;
	background-color: #BEB6B1;
	color: #F1E7E1;
}
	.billboard a {
		text-decoration: none;
		color: inherit;
	}
	.billboard .container {
		padding-top: 10rem;
	}
	.brand_title {
		margin-top: 2.35rem;
		font-size: 5rem;
		font-weight: 700;
	}
	.billboard .big_button {
		margin-top: 4.35rem;
		width: 15.63rem;
		height: 4.75rem;
		border: 0;
		border-radius: 1rem;
		background-color: #F3BB9A;
		font-size: 2rem;
		color: #F1E7E1;
		font-weight: 400;
		transition: background-color 0.5s ease;
	}
	.billboard .big_button:hover {
		background-color: #D1887A;
	}
.main_content {
	padding-top: 0.75rem;
	background-color: #F1E7E1;
}
	.main_content h2 {
		margin: 3rem 0;
		text-align: center;
		font-size: 2.5rem;
		color: #715748;
	}
	.main_content h3 {
		margin: 2rem 0;
		font-size: 1.8rem;
		color: #715748;
	}
	.main_content p {
		margin: 1.5rem 0;
		line-height: 1.8rem;
		font-family: 'Merriweather', serif;
		font-size: 1.2rem;
		color: #716D6A;
	}
	.main_content .big_button {
		display: block;
		margin: 3rem auto 2.5rem;
		width: 25rem;
		height: 4.75rem;
		border: 2px solid #715748;
		border-radius: 1rem;
		background-color: #F1E7E1;
		font-size: 2rem;
		font-weight: 300;
		color: #715748;
		transition: background-color 0.5s ease;
		transition: color 0.5s ease;
	}
	.main_content .big_button:hover {
		color: #F1E7E1;
		background-color: #715748;
	}
	.main_content a {
		text-decoration: none;
		color: inherit;
	}
footer {
	text-align: center;
	background-color: #BEB6B1;
	color: #F1E7E1;
}
	footer > .container {
		padding: 3rem 0;
	}
	footer > .container p {
		font-size: 1.4rem;
	}
	.social_icons  li {
		display: inline-block;
		margin: 1.7rem 0.6rem;
		font-size: 1.4rem;
		color: #715748;
		transition: color 0.3s ease;
	}
	.social_icons li:hover {
		color: #F3BB9A;
	}
	.social_icons a {
		text-decoration: none;
		color: inherit;
	}
	.copyright {
		/* typography */
		font-size: 1.2rem;
		font-weight: 300;
		color: #838994;
		letter-spacing: 0;
	}



/* RESPONSIVE STYLING */
@media all and (max-width: 1199px) {
	#brand_logo {
		width: 14.06rem;
	}
	.brand_title {
		font-size: 4.25rem;
	}
	.billboard .big_button {
		width: 14rem;
		font-weight: 300;
	}
}
@media all and (max-width: 991px) {
	.menu_bar {
		height: 3rem;
	}
	.brand_name {
		display: inline-block;
		margin-top: 0.8rem;
		font-size: 2.36rem;
	}
	.menu_bar ul {
		display: inline-block;
		/* QUESTION: Removing this will cause the menu NOT come back up */
	}
	.menu_bar li {
		margin-left: 1rem;
		padding-top: 1.53rem;
	}
	#brand_logo {
		width: 13rem;
	}
	.brand_title {
		font-size: 4rem;
		font-weight: 400;
	}
	.billboard .big_button {
		width: 12.85rem;
	}
	.main_content p {
		font-size: 1.15rem;
	}
}

@media all and (max-width: 684px) {
	.brand_name {
		margin-top: 1.1rem;
		font-size: 2rem;
	}
	.menu_bar li {
		margin-left: 0.55rem;
		padding-top: 1.53rem;
	}
	.billboard {
		height: 48rem;
	}
	#brand_logo {
		width: 11.5rem;
	}
	.brand_title {
		font-size: 3.5rem;
	}
	.billboard .big_button {
		width: 11rem;
		font-size:1.5rem;
	}
	.main_content h2 {
		font-size: 2.25rem;
	}
	.main_content p {
		font-size: 1.05rem;
	}
	.main_content .big_button {
		font-size: 1.5rem;
	}
}

@media all and (max-width: 555px) {
	.container {
		max-width: 20rem;
	}
	.menu_bar {
		height: 4.58rem;
	}
	.menu_bar .container {
		padding: 0.2rem;
		text-align: center;
	}
	.brand_name {
		margin: 0.35rem 0;
		text-align: center;
		font-size: 2rem;
	}
	.menu_bar ul {
		float: none;
		/*QUESTION: This causes the menu to NOT come back up*/
		margin: 0rem 0;
		text-align: center;
	}
	.menu_bar li {
		margin: 0 0.2rem;
		padding-top: 0.2rem;
		font-size: 1rem;
	}
	.billboard {
		height: 39.38rem;
	}
	.billboard .container {
		padding-top: 6.5rem;
	}
	#brand_logo {
		width: 6.25rem;
	}
	.brand_title {
		margin-top: 1rem;
		font-size: 2.75rem;
	}
	.billboard .big_button {
		margin-top: 3rem;
		width: 8rem;
		height: 3rem;
		font-size: 1.3rem;
	}
	.main_content .big_button {
		width: 15rem;
		font-size: 1.35rem;
	}
}