@import 'reset';
@import 'fonts';
@import 'usual_style';

$offWhite: #F0F0F0;
$crimson: #650000;
$heavyGrey: #303030;
$lightGrey: #909090;
$navBg: $offWhite;
$navBorder: $crimson;
$navInactive: $lightGrey;
$navActive: $heavyGrey;
$navLiWidth: 7.5rem; // 120px
$navHover: $crimson;
$fpBg: $crimson;
$h2FontFam: "LatoHairline";

@mixin box-shadow-inset($y-offset, $x-offset, $blur, $spread, $color) {
	   -moz-box-shadow: inset $y-offset $x-offset $blur $spread $color;
	-webkit-box-shadow: inset $y-offset $x-offset $blur $spread $color;
	        box-shadow: inset $y-offset $x-offset $blur $spread $color;
}
@mixin box-shadow($y-offset, $x-offset, $blur, $spread, $color) {
	   -moz-box-shadow: $y-offset $x-offset $blur $spread $color;
	-webkit-box-shadow: $y-offset $x-offset $blur $spread $color;
	        box-shadow: $y-offset $x-offset $blur $spread $color;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.main-container {
	max-width: 1200px;
	margin: 0 auto;
}
h1, h2, h3 {
	text-transform: uppercase;
	color: $offWhite;
}
h2 {
	font-family: $h2FontFam;
}


nav {
	width: 100%;
	height: 3.125rem; // 50px
	position: fixed;
	border-top: 5px solid $navBorder;
	background-color: $navBg;
	font-family: "GeometriaLight", Arial, sans-serif;
	font-size: 1.25rem;
	text-transform: uppercase;
	@include box-shadow(0, 1px, 10px, 2px, rgba(0,0,0,0.25));

	ul {
		width: $navLiWidth * 4;
		margin: 0 auto;
		height: 100%;
	}

	li {
		display: inline-block;
		float: left;
		height: 100%;
		width: $navLiWidth;
		color: $navInactive;
		text-align: center;
	}
	.active {
		@include box-shadow-inset(0, 6px, 0, 0, $navBorder);
		color: $navActive;
	}
	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding-top: 0.75rem; // 12.5px
	}
	a:hover {
		color: $navHover;
	}
	#burger {
		display: none;
	}
}
#front-page {
	padding-top: 3.125rem; // Same as navigation height
	width: 100%;
	height: 34.38rem; // 550px = 500px + navigation height
	background-color: $fpBg;
	background-image: url('../img/front_page_bg_pic.png');
	background-size: cover;
	background-position: top center;

	.main-container {
		padding: 10.63rem 1.875rem 0 1.875rem; // 170px 30px 0 30px
	}
	img {
		width: 9.375rem; // 150px
		float: left;
	}
	h1, h2 {
		margin-left: 11.25rem; // 180px = image width + 30px
		text-transform: uppercase;
	}
	h1 {
		font-family: "LatoBlack";
		font-size: 5rem;
		margin-top: -0.875rem; //-14px
	}
	h2 {
		font-size: 2.8rem;
	}
}




@media screen and (max-width: 775px) {
	#front-page {
		.main-container {
		padding: 8.75rem 1.875rem 0 1.875rem; // 140px 30px 0 30px
	}
		img {
			max-width: 8.75rem; // 140px
		}
		h1 {
			margin-left: 10rem; // 160px
			max-width: 17.5rem; // 280px
		}
		h2 {
			clear: both;
			margin-left: 0;
		}
	}
}

@media screen and (max-width: 480px) {
	nav {
		height: auto;
		border-top: 0;
		ul {
			display: none;
			width: 100%;
			height: auto;
		}
		li {
			width: 50%;
			height: 2.188rem; // 35px
			border-bottom: 1px solid rgba(0,0,0,0.05);
			border-right: 1px solid rgba(0,0,0,0.05);
			text-align: left;
		}
		a {
			padding: 0.4375rem 0 0 0.9375rem; // 7.5px 0 0 15px
		}
		.active {
			@include box-shadow-inset(10px, 0, 0, 0, $navBorder);
			color: $navActive;
		}
		#burger {
			display: block;
			width: 100%;
			position: relative;
			padding: 0.625rem; // 10px
		}
		#burger::after {
			content: "";
			display: inline-block;
			width: 1.563rem; // 25px
			height: 1.563rem; // 25px
			position: absolute;
			top: 0.5rem; // 8px
			right: 0.9375rem; // 15px
			background-image: url("../img/menu.svg");
			background-size: cover;
		}
	}
	#front-page {
		.main-container {
			padding-top: 4.688rem; // 75px
		}
		img {
			width: 6.25rem; // 100px
			float: none;
		}
		h1 {
			margin-left: 0;
			margin-top: 0;
		}
	}
}