@import 'reset';
@import 'fonts';
@import 'usual_style';

$offWhite: #F0F0F0;
$crimson: #650000;
$red: #A00;
$heavyGrey: #303030;
$lightGrey: #909090;
$orange: #C95F00;
$navBg: $offWhite;
$navBorder: $crimson;
$navInactive: $lightGrey;
$navActive: $heavyGrey;
$navLiWidth: 7.5rem; // 120px
$navHover: $crimson;
$fpBg: $crimson;
$h2FontFam: "LatoHairline";
$h2FontSize: 2rem;
$adjWidth: 18.75rem; // 300px
$sectionPaddingV: 7.5rem;
$sectionPaddingH: 2.5rem;
$sectionHeaderPadding: 3rem;

@mixin box-shadow-inset($y-offset, $x-offset, $blur, $spread, $color) {
	   -moz-box-shadow: inset $y-offset $x-offset $blur $spread $color;
	-webkit-box-shadow: inset $y-offset $x-offset $blur $spread $color;
	        box-shadow: inset $y-offset $x-offset $blur $spread $color;
}
@mixin box-shadow($y-offset, $x-offset, $blur, $spread, $color) {
	   -moz-box-shadow: $y-offset $x-offset $blur $spread $color;
	-webkit-box-shadow: $y-offset $x-offset $blur $spread $color;
	        box-shadow: $y-offset $x-offset $blur $spread $color;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.main-container {
	max-width: 1200px;
	margin: 0 auto;
}
h1, h2, h3 {
	text-transform: uppercase;
	color: $offWhite;
}
h2 {
	font-family: $h2FontFam;
	text-align: center;
}
.half-width {
	width: 50%;
}


nav {
	width: 100%;
	height: 3.125rem; // 50px
	position: fixed;
	border-top: 5px solid $navBorder;
	background-color: $navBg;
	font-family: "GeometriaLight", Arial, sans-serif;
	font-size: 1.25rem;
	text-transform: uppercase;
	@include box-shadow(0, 1px, 10px, 2px, rgba(0,0,0,0.25));
	z-index: 9999;

	ul {
		width: $navLiWidth * 4;
		margin: 0 auto;
		height: 100%;
	}

	li {
		display: inline-block;
		float: left;
		height: 100%;
		width: $navLiWidth;
		color: $navInactive;
		text-align: center;
	}
	.active {
		@include box-shadow-inset(0, 6px, 0, 0, $navBorder);
		color: $navActive;
	}
	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding-top: 0.75rem; // 12.5px
	}
	a:hover {
		color: $navHover;
	}
	#burger {
		display: none;
	}
}
#front-page {
	width: 100%;
	height: 34.38rem; // 550px = 500px + navigation height
	padding-top: 3.125rem; // Same as navigation height
	background-color: $fpBg;
	background-image: url('../img/front_page_bg_pic.png');
	background-size: cover;
	background-position: top center;

	.main-container {
		padding: 10.63rem 1.875rem 0 1.875rem; // 170px 30px 0 30px
	}
	img {
		width: 9.375rem; // 150px
		float: left;
	}
	h1, h2 {
		margin-left: 11.25rem; // 180px = image width + 30px
		text-transform: uppercase;
	}
	h1 {
		margin-top: -0.875rem; //-14px
		font-family: "LatoBlack";
		font-size: 5rem;
	}
	h2 {
		text-align: left;
		font-size: 2.8rem;
	}
}
#personal-brand {
	text-align: center;
	padding: $sectionPaddingV $sectionPaddingH;

	.main-container {
		position: relative;
	}
	#adjectives {
		width: 73%;
		min-width: 698px;
		margin: 0 auto;
	}
	.brand {
		width: 33.333%;
		min-width: 100px;
		display: inline-block;
		float: left;
		color: $heavyGrey;
		cursor: pointer;
		p {
			font-family: 'LatoBold';
			font-size: 1.75rem;
			text-transform: uppercase;
			color: inherit;
		}
	}
	.adjective_pic {
		width: 9.375rem; //150px;
		height: 9.375rem; //150px;
		margin: 0 auto 2rem auto;
		background-size: cover;
		-webkit-filter: grayscale(1);
	}
	.active {
		color: $red;
	}
	.active .adjective_pic {
		-webkit-filter: grayscale(0);
	}
	#motivated .adjective_pic {
		background-image: url('../img/single_gear.svg');
	}
	#creative .adjective_pic {
		background-image: url('../img/lit_bulb.svg');
	}
	#determined .adjective_pic {
		background-image: url('../img/clenched_fist.svg');
	}
	#short-desc {
		padding-top: 4rem;
		position: relative;
		p {
			max-width: $adjWidth*3;
			margin: 0 auto 0 auto;
			font-family: 'GeometriaLight';
			font-size: 1.25rem;
			text-transform: none;
			color: $heavyGrey;
		}
	}
	#adjective-next,
	#adjective-prev {
		padding: 0.9375rem 0.625rem 0.9375rem 0.75rem; //15px 10px 15px 12px;
		position: absolute;
		top: 4.563rem; //75px;
		background-color: rgba(0,0,0,0.1);
		border-radius: 0.625rem; //10px;
		cursor: pointer;
		transition: top 0.25s ease;
		transition:	box-shadow 0.25 ease;
		img {
			width: 25px;
			height: 25px;
			vertical-align: middle;
		}
	}
	#adjective-next:hover,
	#adjective-prev:hover {
		top: 4.563rem; //73px;
		@include box-shadow(0, 3px, 5px, -1px, rgba(0, 0, 0, 0.5));
	}
	#adjective-next {
		right: 0;
	}
	#adjective-prev {
		left: 0;
	}
}
#quotes {
	padding: $sectionPaddingV - 2rem;
	background-color: $crimson;
	color: $offWhite;
	font-family: 'MerriweatherLightItalic';
	font-size: 2rem;
	p {
		min-height: 64px;
	}
	p::before,
	p::after {
		content: "\"";
	}
	span {
		font-family: 'MerriweatherLight';
		float: right;
		margin-top: 1rem;
		font-size: 1.25rem;
	}
}
#sample-projects {
	h2 {
		text-transform: uppercase;
		padding: $sectionHeaderPadding 0;
		background-color: $orange;
		font-size: $h2FontSize;
	}
	ul#projects {
		width: 100%;
		padding: $sectionPaddingV 0;
	}
	ul > li {
		width: 100%;
	}
	.project {
		float: left;
		padding: 1rem 1rem;
		position: relative;
		display: inline-block;
		text-align: left;
		margin-bottom: 3rem;
	}
	.project::before{
		content: "";
		display: block;
		padding-top: 50%;
	}
	.project-screen {
		width: 95%;
		-webkit-filter: grayscale(1);
		transition: -webkit-filter 0.25s ease;
		border-radius: 3px;
		cursor: pointer;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 1rem;
		right: 1rem;
	}
	.project-screen:hover {
		-webkit-filter: grayscale(0);
	}
	h3 {
		font-family: 'LatoBold';
		color: $crimson;
		font-size: 1.4rem;
		margin: 0.75rem 0;
	}
	p {
		font-family: 'GeometriaLight';
		margin-bottom: 0.5rem;
	}
}
footer {
	text-align: center;
	background-color: $heavyGrey;
	color: $offWhite;

	.main-container {
		padding: 3rem 0;

		p {
			font-size: 1.2rem;
			font-family: "GeometriaLight";
			a {
				text-decoration: none;
				color: inherit;
				border-bottom: 1px dashed white;
			}
			a:hover {
				color: $red;
				border-color: $red;
			}
		}
		.social-icons  li {
			display: inline-block;
			margin: 1.7rem 0.6rem;
			font-size: 1.6rem;
			color: $lightGrey;
			transition: color 0.25s ease;
		}
		.social-icons li:hover {
			color: $red;
		}
		.copyright {
			font-size: 0.75rem;
			font-weight: 300;
			color: $offWhite;;
			letter-spacing: 0;
		}
	}
	
}





/*==================
  RESPONSIVE STYLING
  ==================*/
@media screen and (max-width: 775px) {
	#front-page {
		.main-container {
		padding: 8.75rem 1.875rem 0 1.875rem; // 140px 30px 0 30px
	}
		img {
			max-width: 8.75rem; // 140px
		}
		h1 {
			max-width: 17.5rem; // 280px
			margin-left: 10rem; // 160px
		}
		h2 {
			clear: both;
			margin-left: 0;
		}
	}

	#personal-brand {
		.brand {
			width: 100%;
		}

		#adjectives {
		    position: relative;
		    overflow: hidden;
		    width: 250px;
		    min-width: 250px;
		    ul {
			    width: 750px;
			    position: relative;
			}
			li {
				float: left;
				width: 250px;
				text-align: center;
			}
		}
	}

	#sample-projects {
		.project {
			width: 100%;
		}
	}
}

@media screen and (max-width: 480px) {
	nav {
		height: auto;
		border-top: 0;
		ul {
			display: none;
			width: 100%;
			height: auto;
		}
		li {
			width: 50%;
			height: 2.188rem; // 35px
			border-bottom: 1px solid rgba(0,0,0,0.05);
			border-right: 1px solid rgba(0,0,0,0.05);
			text-align: left;
		}
		a {
			padding: 0.4375rem 0 0 0.9375rem; // 7.5px 0 0 15px
		}
		.active {
			@include box-shadow-inset(10px, 0, 0, 0, $navBorder);
			color: $navActive;
		}
		#burger {
			display: block;
			width: 100%;
			position: relative;
			padding: 0.625rem; // 10px
		}
		#burger::after {
			content: "";
			display: inline-block;
			width: 1.563rem; // 25px
			height: 1.563rem; // 25px
			position: absolute;
			top: 0.5rem; // 8px
			right: 0.9375rem; // 15px
			background-image: url("../img/menu.svg");
			background-size: cover;
		}
	}
	#front-page {
		.main-container {
			padding-top: 4.688rem; // 75px
			padding-left: 1.25rem; // 20px;
			padding-right: 1.25rem; // 20px;
		}
		img {
			width: 6.25rem; // 100px
			float: none;
		}
		h1 {
			margin-left: 0;
			margin-top: 0;
		}
	}
	#personal-brand {
		padding-left: 1.25rem; // 20px;
		padding-right: 1.25rem; // 20px;
	}
	#quotes {
		padding-left: 1.25rem; // 20px;
		padding-right: 1.25rem; // 20px;
		p {
			font-size: 1.5rem;
		}
	}
	#sample-projects {
		.project {
			padding: 0.5rem 0.5rem;
		}
		.project-screen {
			left: 0.5rem;
			right: 0.5rem;
		}
	}
}