@import 'reset';
@import 'fonts';
@import 'usual_style';

$offWhite: #F0F0F0;
$crimson: #650000;
$heavyGrey: #303030;
$lightGrey: #909090;
$navBg: $offWhite;
$navBorder: $crimson;
$navInactive: $lightGrey;
$navActive: $heavyGrey;
$navLiWidth: 120px;
$navHover: $crimson;

@mixin box-shadow-inset($y-offset, $x-offset, $blur, $spread, $color) {
	   -moz-box-shadow: inset $y-offset $x-offset $blur $spread $color;
	-webkit-box-shadow: inset $y-offset $x-offset $blur $spread $color;
	        box-shadow: inset $y-offset $x-offset $blur $spread $color;
}
@mixin box-shadow($y-offset, $x-offset, $blur, $spread, $color) {
	   -moz-box-shadow: $y-offset $x-offset $blur $spread $color;
	-webkit-box-shadow: $y-offset $x-offset $blur $spread $color;
	        box-shadow: $y-offset $x-offset $blur $spread $color;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

nav {
	width: 100%;
	height: 50px;
	border-top: 5px solid $navBorder;
	background-color: $navBg;
	font-family: "GeometriaLight", Arial, sans-serif;
	font-size: 1.25rem;
	text-transform: uppercase;
	@include box-shadow(0, 1px, 10px, 2px, rgba(0,0,0,0.25));

	ul {
		width: $navLiWidth * 4;
		margin: 0 auto;
		height: 100%;
	}

	li {
		display: inline-block;
		float: left;
		height: 100%;
		width: $navLiWidth;
		color: $navInactive;
		text-align: center;
	}
	.active {
		@include box-shadow-inset(0, 6px, 0, 0, $navBorder);
		color: $navActive;
	}
	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding-top: 12.5px;
	}
	a:hover {
		color: $navHover;
	}
	#burger {
		display: none;
	}
}



@media screen and (max-width: 480px) {
	nav {
		height: auto;
		border-top: 0;
		ul {
			display: none;
			width: 100%;
			height: auto;
		}
		li {
			width: 50%;
			height: 35px;
			border-bottom: 1px solid rgba(0,0,0,0.05);
			border-right: 1px solid rgba(0,0,0,0.05);
			text-align: left;
		}
		a {
			padding: 7.5px 0 0 15px;
		}
		.active {
			@include box-shadow-inset(10px, 0, 0, 0, $navBorder);
			color: $navActive;
		}
		#burger {
			display: block;
			width: 100%;
			position: relative;
			padding: 10px;
		}
		#burger::after {
			content: "";
			display: inline-block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 8px;
			right: 15px;
			background-image: url("../img/menu.svg");
			background-size: cover;
		}
	}
}