$font-stack: 'Times New Roman', sans-serif;
$primary-color: #333;

@import 'reset';

body {
	font: 100% $font-stack;
	color: $primary-color;
}
nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
	display: inline-block;
	}
	a {
		text-decoration: none;
		color: inherit;
		display: block;
	}
}