/*	CSS RESET
	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
  	License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box; /* Safari 3.0-5.0, Chrome 1-9, Android 2.1-3.x */
	-moz-box-sizing: border-box;    /* Firefox 1-28 */
	box-sizing: border-box;         /* Safar 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF CSS RESET */
	


.container {
	width: 75rem;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
}
.menu_bar {
	width: 100%;
	height: 3.65rem;
	position: fixed;
	/*border-bottom: 2px solid #BEB6B1; not needed because background is already that color */
	background-color: #BEB6B1;
	color: #F1E7E1;
}
	.brand_name {
		display: inline-block;
		float: left;
		margin-top: 0.75rem;
		font-size: 3.25rem;
		font-weight: 100;
	}
	.brand_name span {
		color: #716D6A;
		font-weight: 300;
	}
	.menu_bar a {
		text-decoration: none;
		color: inherit;
	}
	.menu_bar ul {
		display: inline-block;
		float: right;
		font-size: 1.2rem;
	}
	.menu_bar li {
		display: inline-block;
		padding-top: 2.25rem;
		margin-left: 1.75rem;
		transition: color 0.5s ease;
		transition: border-top 0.5s ease;
	}
	.menu_bar li:hover {
		border-top: 5px solid #F3BB9A;
		color: #F3BB9A;
		cursor: pointer;
	}
	.menu_bar .container .active {
		border-top: 5px solid #715748;
		color: #715748;
	}
.work_collection {
	padding-top: 3.75rem;
	/* Why margin-top doesn't work? */
	background-color: #F1E7E1;
}
	.work_collection .container {
/*		border: 1px solid green;*/
		padding: 0;
	}
	.work_collection h4 {
		margin: 3rem 0 2rem 0.75rem;
		font-size: 1.2rem;
		color: #716d6a;
	}
	.col {
/*		border: 1px solid red;*/
		width: 33.333333%;
		margin-bottom: 2rem;
		float: left;
	}
/*	.col:nth-child(3n+1) .screenie{
		margin-left: 0;
	}
	.col:nth-child(3n+3) .screenie{
		margin-right: 0;
	}*/
	.screen_frame {
		width: 23.75rem;
		height: 23.75rem;
		margin: 0 auto;
		border: 1px solid #BEB6B1;
		border-radius: 1rem;
	}
	.screen_frame:hover {
		border: 1px solid #F3BB9A;
		box-shadow: 0px 0px 7px 1px #F3BB9A;
	}
	.screen_frame p {
		text-align: center;
		margin: 11.27rem auto;
		font-size: 1.2rem;
		color: #BEB6B1;
	}
	.screen_shot {
		width: 21.5rem;
		height: 21.5rem;
		margin: 1.125rem;
		border-radius: inherit;
	}
	#karma_clone {
		background-image: url("img/karma_clone_screenie.png");
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#hack_times {
		background-image: url(../img/nytimes_hack_screenie.png);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
	}
footer {
	text-align: center;
	background-color: #BEB6B1;
	color: #F1E7E1;
}
	footer > .container {
		padding: 3rem 0;
	}
	footer > .container p {
		font-size: 1.4rem;
	}
	.social_icons  li {
		display: inline-block;
		margin: 1.7rem 0.6rem;
		font-size: 1.4rem;
		color: #715748;
		transition: color 0.3s ease;
	}
	.social_icons li:hover {
		color: #F3BB9A;
	}
	.social_icons a {
		text-decoration: none;
		color: inherit;
	}
	.copyright {
		/* typography */
		font-size: 1.2rem;
		font-weight: 300;
		color: #838994;
		letter-spacing: 0;
	}



/* RESPONSIVE STYLING */
@media all and (max-width: 1199px) {
	.container {
		width: 59rem;
	}
	.col {
		width: 50%;
		margin-bottom: 1.1rem;
	}
	.screen_frame {
		width: 28rem;
		margin: 0 auto;
	}
	.screen_shot {
		width: 25.75rem;
	}
}

@media all and (max-width: 991px) {
	.container {
		width: 42rem;
	}
	.col {
		width: 85%;
		margin: 0 auto 1.1rem;
		float: none;
	}
	.work_collection h4 {
		margin: 3rem 0 2rem 5rem;
		font-size: 1.1rem;
	}
	.screen_frame {
		width: 32.25rem;
		margin: 0 auto;
	}
	.screen_shot {
		width: 30rem;
	}
	.menu_bar {
		height: 3rem;
	}
	.brand_name {
		/*display: inline-block; debug */
		margin-top: 0.8rem;
		font-size: 2.36rem;
	}
	.menu_bar ul {
		display: inline-block;
		float: right;
		/* QUESTION: Removing this will cause the menu NOT come back up */
	}
	.menu_bar li {
		margin-left: 1rem;
		padding-top: 1.53rem;
	}
	.work_collection p {
		font-size: 1.15rem;
	}
}

@media all and (max-width: 680px) {
	.container {
		width: 33rem;
	}
	.brand_name {
		margin-top: 1.45rem;
		font-size: 1.75rem;
	}
	.menu_bar ul {
		display: inline-block;
		float: right;
		/* QUESTION: Removing this will cause the menu NOT come back up */
	}
	.menu_bar li {
		margin-left: 0.55rem;
		padding-top: 1.7rem;
		font-size: 1.15rem;
	}
	.screen_frame {
		width: 27.25rem;
		margin: 0 auto;
	}
	.screen_shot {
		width: 25rem;
	}
	.work_collection h4 {
		margin-left: 2.8rem;
	}
	.work_collection p {
		font-size: 1.15rem;
	}
}

@media all and (max-width: 534px) {
	.container {
		width: 19rem;
	}
	.menu_bar {
		height: 4.58rem;
	}
	.menu_bar .container {
		padding: 0.2rem;
		text-align: center;
	}
	.brand_name {
		float: none;
		margin: 0.35rem 0;
		text-align: center;
		font-size: 2rem;
	}
	.menu_bar ul {
		float: none;
		/*QUESTION: This causes the menu to NOT come back up*/
		margin: 0rem 0;
		text-align: center;
	}
	.menu_bar li {
		margin: 0 0.2rem;
		padding-top: 0.2rem;
		font-size: 1rem;
	}
	.screen_frame {
		width: 15.25rem;
	}
	.screen_shot {
		width: 13rem;
	}
	.work_collection h4 {
		margin-left: 2rem;
	}
	.work_collection p {
		font-size: 1.15rem;
	}
}