@import '../common/partials/reset';
@import '../common/partials/variables';
@import '../common/partials/mixins';
@import '../common/partials/common_styles';

#front-page {
	width: 100%;
	height: 34.38rem; // 550px = 500px + navigation height
	padding-top: 3.125rem; // Same as navigation height
	background-color: $fpBg;
	background-image: url('../../img/front_page_bg_pic.png');
	background-size: cover;
	background-position: top center;

	.main-container {
		padding: 10.63rem 1.875rem 0 1.875rem; // 170px 30px 0 30px
	}
	img {
		width: 9.375rem; // 150px
		float: left;
	}
	h1, h2 {
		margin-left: 11.25rem; // 180px = image width + 30px
		text-transform: uppercase;
	}
	h1 {
		margin-top: -0.875rem; //-14px
		font-family: "LatoBlack";
		font-size: 5rem;
	}
	h2 {
		text-align: left;
		font-size: 2.8rem;
		background: none;
		padding: 0;
	}
}
#personal-brand {
	text-align: center;
	padding: $sectionPaddingV $sectionPaddingH;

	.main-container {
		position: relative;
	}
	#adjectives {
		width: 73%;
		min-width: 698px;
		margin: 0 auto;
	}
	.brand {
		width: 33.333%;
		min-width: 100px;
		display: inline-block;
		float: left;
		color: $heavyGrey;
		cursor: pointer;
		p {
			font-family: 'LatoBold';
			font-size: 1.75rem;
			text-transform: uppercase;
			color: inherit;
		}
	}
	.adjective_pic {
		width: 9.375rem; //150px;
		height: 9.375rem; //150px;
		margin: 0 auto 2rem auto;
		background-size: cover;
		-webkit-filter: grayscale(1);
		-moz-filter: grayscale(1);
		filter: grayscale(1);
		transition: all ease 0.2s;
	}
	.active {
		color: $red;
	}
	.active .adjective_pic {
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		filter: grayscale(0);
	}
	#motivated .adjective_pic {
		background-image: url('../../img/single_gear.svg');
	}
	#creative .adjective_pic {
		background-image: url('../../img/lit_bulb.svg');
	}
	#determined .adjective_pic {
		background-image: url('../../img/clenched_fist.svg');
	}
	#short-desc {
		padding-top: 4rem;
		position: relative;
		p {
			max-width: $adjWidth*3;
			margin: 0 auto 0 auto;
			font-family: 'GeometriaLight';
			font-size: 1.25rem;
			text-transform: none;
			color: $heavyGrey;
		}
	}
	#adjective-next,
	#adjective-prev {
		padding: 0.9375rem 0.625rem 0.9375rem 0.75rem; //15px 10px 15px 12px;
		position: absolute;
		top: 4.563rem; //75px;
		background-color: rgba(0,0,0,0.1);
		border-radius: 0.625rem; //10px;
		cursor: pointer;
		transition: top 0.25s ease;
		transition:	box-shadow 0.25 ease;
		img {
			width: 25px;
			height: 25px;
			vertical-align: middle;
		}
	}
	#adjective-next:hover,
	#adjective-prev:hover {
		top: 4.563rem; //73px;
		@include box-shadow(0, 3px, 5px, -1px, rgba(0, 0, 0, 0.5));
	}
	#adjective-next {
		right: 0;
	}
	#adjective-prev {
		left: 0;
	}
}
#quotes {
	padding: $sectionPaddingV - 2rem;
	background-color: $crimson;
	color: $offWhite;
	font-family: 'MerriweatherLightItalic';
	font-size: 2rem;
	p {
		min-height: 64px;
	}
	p::before,
	p::after {
		content: "\"";
	}
	span {
		font-family: 'MerriweatherLight';
		float: right;
		margin-top: 1rem;
		font-size: 1.25rem;
	}
}
#sample-projects {
	transition: all ease 0.5s;
	.work-sample-entry {
		width: 100%;
		padding: $sectionPaddingV 0 0;
	}
	.work-sample-entry:last-child {
		padding: $sectionPaddingV 0;
	}
	img {
		width: 100%;
		border-radius: 5px;
		float: left;
	}
	.half-width.left {
		position: relative;
		overflow: hidden;
	}
	.img-overlay {
		width: 100%;
		border-radius: 5px;
		float: left;
		height: 100%;
		background-color: rgba(0,0,0,0.75);
		position: absolute;
		top: 100%;
		transition: top ease 0.2s;
	}
	.half-width.left:hover .img-overlay {
		top: 0;
	}
	.overlay-links {
		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	   i {
			color: $offWhite;
			font-size: 250%;
			transition: all ease 0.2s;
		}
		i:first-child {
			margin-right: 0.5em;
		}
		i:last-child {
			margin-left: 0.5em;
		}
		i:hover {
			color: $red;
		}
	}
	h3 {
		margin-top: 0;
		margin-bottom: 1em;
		font-size: 1.5em;
	}
	.technologies {
		padding: 0.2em 0.75em;
		background-color: $red;
		color: $offWhite;
		margin: 0 0.1em;
		border-radius: 15px;
		font-size: 75%;
	}
	.project-desc {
		padding-left: 1em;
	}
	p {
		font-family: 'GeometriaLight';
		margin-bottom: 0.75rem;
	}
}





/*==================
  RESPONSIVE STYLING
  ==================*/
@media screen and (max-width: 775px) {
	#front-page {
		.main-container {
		padding: 8.75rem 1.875rem 0 1.875rem; // 140px 30px 0 30px
	}
		img {
			max-width: 8.75rem; // 140px
		}
		h1 {
			max-width: 17.5rem; // 280px
			margin-left: 10rem; // 160px
		}
		h2 {
			clear: both;
			margin-left: 0;
		}
	}

	#personal-brand {
		.brand {
			width: 100%;
		}

		#adjectives {
		    position: relative;
		    overflow: hidden;
		    width: 250px;
		    min-width: 250px;
		    ul {
			    width: 750px;
			    position: relative;
			}
			li {
				float: left;
				width: 250px;
				text-align: center;
			}
		}
	}

	#sample-projects {
		// .project {
		// 	width: 100%;
		// }
		.half-width {
			box-sizing: border-box;
			width: calc(100% - 2em);
			margin-left: 1em;
			margin-right: 1em;
		}
		h3 {
			margin-top: 1em;
		}
		.project-desc {
		padding-left: 0;
	}
	}
}

@media screen and (max-width: 480px) {
	#front-page {
		.main-container {
			padding-top: 4.688rem; // 75px
			padding-left: 1.25rem; // 20px;
			padding-right: 1.25rem; // 20px;
		}
		img {
			width: 6.25rem; // 100px
			float: none;
		}
		h1 {
			margin-left: 0;
			margin-top: 0;
		}
	}
	#personal-brand {
		padding-left: 1.25rem; // 20px;
		padding-right: 1.25rem; // 20px;
	}
	#quotes {
		padding-left: 1.25rem; // 20px;
		padding-right: 1.25rem; // 20px;
		p {
			font-size: 1.5rem;
		}
	}
	#sample-projects {
		.project {
			padding: 0.5rem 0.5rem;
		}
		.project-screen {
			left: 0.5rem;
			right: 0.5rem;
		}
	}
}