<link rel="import" href="../bower_components/neon-animation/animations/fade-in-animation.html" />
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html" />
<link rel="import" href="../bower_components/neon-animation/neon-animatable-behavior.html" />

<dom-module id="vl-about">

    <style>
        :host {
            width: 100%;
            height: 100%;
        }
        section {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--light-background-color);
            font-family: 'Roboto', Arial, sans-serif;
            font-size: 1.15rem;
            color: #40514E;
            overflow: hidden;
        }
        h1 {
            color: var(--primary-color);
        }
        .container {
            width: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -64px;  /* half of pic's height */
        }
        .pic {
            width: 128px;
            height: 128px;
            position: relative;
            z-index: 101;
        }
        .faux-toolbar {
            width: 100%;
            height: 64px;  /* half of pic's height */
            background-color: var(--primary-color);
        }
        .content {
            overflow-y: auto;
            margin-bottom: 1rem;
            min-height: 3rem;
        }
    </style>

    <template>
        <section>
            <div class="faux-toolbar"></div>
            <div class="container">
                <img class="pic" id="pic" src="../img/vleong_profile_pic.png" alt="Picture of me" />
                <h1>Vicky Leong</h1>
                <div class="content">
                    <p>I solve problems using the power of web technologies. Front-end and UI development is where my heart at, but I'm not one to back away from any other type of challenges.</p>
                    <p>I think that modular code-base is beautiful and I'm excited to see the trend towards web components in the industry.</p>
                    <p>Currently, I reside in Orlando, FL helping Wycliffe Associates to advance Bible translations through web and mobile technologies.</p>
                </div>
            </div>
        </section>
    </template>

</dom-module>

<script>
    Polymer({
        is: 'vl-about',

        behaviors: [
            Polymer.NeonAnimatableBehavior
        ],

        properties: {
            animationConfig: {
                value: function() {
                    return {
                        'entry': {
                            name: 'fade-in-animation',
                            node: this,
                            timing: {
                                duration: 150
                            }
                        },
                        'exit': {
                            name: 'fade-out-animation',
                            node: this,
                            timing: {
                                duration: 150
                            }
                        }
                    }
                }
            }
        },

        listeners: {
            'neon-animation-finish': '_onNeonAnimationFinish'
        },

        _onNeonAnimationFinish: function() {
            console.log('animation finished!');
        },

        ready: function() {

        }
    });
</script>