@import '../../css/reset';
@import '../../css/_variables';
@import '../../css/_mixins';
@import '../../css/_common_styles';

#embed-form {
	padding-top: $navHeight - 1rem;
	.ss-form-container {
		max-width: 100%;
	}
}
iframe {
	width: 100%;
	height: 1000px; 
}