$offWhite: #F0F0F0;
$crimson: #650000;
$red: #A00;
$heavyGrey: #303030;
$lightGrey: #909090;
$black: #000;
$orange: #C95F00;

$navHeight: 3.125rem; // 50px;
$navBg: $offWhite;
$navBorder: $crimson;
$navInactive: $lightGrey;
$navActive: $heavyGrey;
$navLiWidth: 7.5rem; // 120px
$navHover: $crimson;

$fpBg: $crimson;
$h2FontFam: "LatoHairline";
$h2FontSize: 2rem;
$adjWidth: 18.75rem; // 300px
$sectionPaddingV: 7.5rem;
$sectionPaddingH: 2.5rem;
$sectionHeaderPadding: 3rem;