/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit;
  padding: 0; }

.hidden {
  display: none; }

.invisible {
  visibility: none; }

.opaque {
  opacity: 0; }

.clearfix::before,
.clearfix::after {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.main-container {
  max-width: 1200px;
  margin: 0 auto; }

.half-width {
  width: 50%; }

h1, h2, h3 {
  text-transform: uppercase;
  color: #F0F0F0; }

h2 {
  font-family: "LatoHairline";
  text-align: center;
  text-transform: uppercase;
  padding: 3rem 0;
  background-color: #C95F00;
  font-size: 2rem; }

h3 {
  font-family: 'LatoBold';
  color: #650000;
  font-size: 1.4rem;
  margin: 0.75rem 0; }

p {
  line-height: 1.4; }

nav {
  width: 100%;
  height: 3.125rem;
  position: fixed;
  border-top: 5px solid #650000;
  background-color: #F0F0F0;
  font-family: "GeometriaLight", Arial, sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  -moz-box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.25);
  z-index: 9999; }
  nav ul {
    width: 30rem;
    margin: 0 auto;
    height: 100%; }
  nav li {
    display: inline-block;
    float: left;
    height: 100%;
    width: 7.5rem;
    color: #909090;
    text-align: center; }
  nav .active {
    -moz-box-shadow: inset 0 6px 0 0 #650000;
    -webkit-box-shadow: inset 0 6px 0 0 #650000;
    box-shadow: inset 0 6px 0 0 #650000;
    color: #303030; }
  nav a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 0.75rem; }
  nav a:hover {
    color: #650000; }
  nav #burger {
    display: none; }

footer {
  text-align: center;
  background-color: #303030;
  color: #F0F0F0; }
  footer .main-container {
    padding: 3rem 0; }
    footer .main-container p {
      font-size: 1.2rem;
      font-family: "GeometriaLight"; }
      footer .main-container p a {
        text-decoration: none;
        color: inherit;
        border-bottom: 1px dashed white; }
      footer .main-container p a:hover {
        color: #A00;
        border-color: #A00; }
    footer .main-container .social-icons li {
      display: inline-block;
      margin: 1.7rem 0.6rem;
      font-size: 1.6rem;
      color: #909090;
      transition: color 0.25s ease; }
    footer .main-container .social-icons li:hover {
      color: #A00; }
    footer .main-container .copyright {
      font-size: 0.75rem;
      font-weight: 300;
      color: #F0F0F0;
      letter-spacing: 0; }

@media screen and (max-width: 480px) {
  nav {
    height: auto;
    border-top: 0; }
    nav ul {
      display: none;
      width: 100%;
      height: auto; }
    nav li {
      width: 50%;
      height: 2.188rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      border-right: 1px solid rgba(0, 0, 0, 0.05);
      text-align: left; }
    nav a {
      padding: 0.4375rem 0 0 0.9375rem; }
    nav .active {
      -moz-box-shadow: inset 10px 0 0 0 #650000;
      -webkit-box-shadow: inset 10px 0 0 0 #650000;
      box-shadow: inset 10px 0 0 0 #650000;
      color: #303030; }
    nav #burger {
      display: block;
      width: 100%;
      position: relative;
      padding: 0.625rem; }
    nav #burger::after {
      content: "";
      display: inline-block;
      width: 1.563rem;
      height: 1.563rem;
      position: absolute;
      top: 0.5rem;
      right: 0.9375rem;
      background-image: url("../img/menu.svg");
      background-size: cover; } }

p {
  font-family: 'GeometriaLight';
  font-size: 1.15rem; }

#summary {
  padding-top: 3.125rem;
  text-align: center; }
  #summary .main-container {
    padding: 0 2.5rem 7.5rem;
    position: relative; }
  #summary h2 {
    background-color: #650000; }
  #summary img {
    width: 170px;
    margin: -20px auto 1.5rem auto;
    -moz-box-shadow: 0 0 10px 1px black;
    -webkit-box-shadow: 0 0 10px 1px black;
    box-shadow: 0 0 10px 1px black;
    border-radius: 85px; }

#details .main-container {
  padding: 7.5rem 2.5rem; }

#details p {
  margin-bottom: 3rem; }

#details #contact-link {
  width: 100%;
  text-align: center;
  font-family: 'GeometriaLight';
  text-transform: uppercase;
  color: #F0F0F0;
  background-color: #909090;
  font-size: 1.5rem;
  padding: 1rem 0;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.65);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.65);
  cursor: pointer; }
